* {
    box-sizing: border-box;
}

:root {
    /* Цветовая палитра */
    --color-bg: #FFFFFF;
    --color-surface: #F9F9FB;    /* Для хедеров карточек и второстепенных зон */
    --color-primary: #1A1A1A;    /* Твой основной темный для функционала */
    --color-text-main: #1A1A1A;
    --color-text-muted: #6B7280;
    --color-border: #E5E5E5;
    
    /* Шрифты */
    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
    
    /* Геометрия */
    --radius-lg: 20px;           /* Для больших карточек */
    --radius-md: 12px;           /* Для полей ответов и кнопок */
    --gap-main: 24px;            /* Стандартный отступ */
    
    /* Тени */
    --shadow-sm: 0 4px 15px rgba(0, 0, 0, 0.05);

    
}
/* Общие настройки для html и body */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    
    /* Используем переменные темы */
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text-main);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a{
    font-display: none;
}